* {
    border: 2px solid red;;
}

body {
    background-color: lightblue;
}

.nav_link {
    padding: 10px;
    color: blue ;
    font-size: 1.3em;
}

nav {
    display: flex;
    justify-content: center;
}

a {
    color: black;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    
}

nav a:hover {
    color: gray;
}

h1 {
    text-align: center;
}

#main_title {
    font-size: 4em;
}
#sub_title {
    color: rgb(201, 139, 24);
}
img {
    width: 60%;
}
#image {
    text-align: center;
    
}